Flask
numpy
gunicorn
uvicorn
Werkzeug
Keras-Applications
Keras-Preprocessing
tensorflow-hub
nltk
h5py
pillow
Keras
tensorflow-cpu
protobuf<=3.20.*
mod_wsgi
httpd-devel
apxs
mod-wsgi-httpd
